    <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registro Prestador</title>
	<link rel="stylesheet" href="/css/style_crear_registro_prestador.css">
	<link rel="shortcut icon" type="image/x-icon" href="/img/iconServiLan2.png">
</head>
<body>
	<div class="login-box">
		<img class="avatar" src="/img/iconServiLan2.png" alt="logo de pet love">
		<h1> Crear perfil</h1>
                <form action="crear1"><!-- user name -->
		<label for="username">Nombre</label>
                    <input type="text" placeholder="Ingrese nombre" name="nombre"><!-- se crea una cuadrilla para agregar datos -->

		<label for="apellido">Apellido</label>
		<input type="text" placeholder="Ingrese apellido " name="apellido">

		<label for="password">Contraseña</label>
		<input type="password" placeholder="Ingrese contraseña" name="clave">

		<label for="password">Repetir Contraseña</label>
		<input type="password" placeholder="Ingrese contraseña" name="clave">

		<label for="Cuil">Cuil-Cuit</label>
		<input type="text" placeholder="00-00000000-0 " name="cuit">

		<label for="zona">Seleccione su zona </label>
		<select>
			<option value="Guaymallen">Guaymallen</option>
			<option value="LasHeras">Las Heras</option>
			<option value="Godoycruz">Godoy Cruz</option>
			<option value="Maipu">Maipu</option>
			<option value="Lavalle">Lavalle</option>
			<option value="Lujan">Lujan</option>
			<option value="Rivadavia">Rivadavia</option>
			<option value="Santarosa">Santa Rosa</option>
			<option value="Mendoza">Mendoza</option>
			<option value="Malargue">Malargue</option>
			<option value="Lapaz">La Paz</option>
			<option value="Sancarlos">San Carlos</option>
			<option value="Tupungato">Tupungato</option>
			<option value="Tunuyan">Tunuyan</option>
			<option value="Sanrafael">San Rafael</option>
			<option value="Generalalverar">General Alvear</option>
		</select>

		<br></br>

		<label for="oficio">Oficios </label>

		<select class="mult" multiple>
			<option value="peluqueria">Peluqueria</option>
			<option value="plomeria">Plomeria</option>
			<option value="servicios domesticos">Servicios domesticos</option>
			<option value="gasista">Gasistas</option>
			<option value="jardineria">Jardineria</option>
			<option value="mecanico">Mecanico</option>
			<option value="electricidad vehicular">Electricidad vehicular</option>
			<option value="pintor">Pintor</option>
			<option value="mudanzas">Mudanzas</option>
			<option value="encomiendas">Encomiendas</option>
			<option value="instalaciones de aire acondicionado">Instalaciones de aire acondicionado</option>
			<option value="carpintero">Carpintero</option>
			<option value="peluqueria canina">Peluqueria canina</option>
			<option value="choferes">Choferes</option>
			<option value="seguridad">Seguridad</option>
			<option value="cocinero">Cocinero</option>
			<option value="manicurista">Manicurista</option>
			<option value="tecnicos celulares">Tecnicos celulares</option>
			<option value="metalurgico">Metalurgico</option>
			<option value="albañileria">Albañileria</option>
			<option value="electricista">Electricista</option>
			<option value="Plomero">Plomero</option>
			<option value="Limpieza">Limpieza</option>
			<option value="Lujan">Lujan</option>
			<option value="Rivadavia">Rivadavia</option>
		</select>
		<br></br>

		<label for="experiencia">Experiencia</label>
		<textarea name="experiencia" rows="5" cols="35"></textarea>

		<label for="telefono">Telefono</label>
		<input type="text" placeholder="(261)150000000 " name="telefono">

		<label for="email">Email</label>
		<input type="text" placeholder="Ejemplo@gmal.com " name="mail">

		<label for="nacimiento">Fecha de nacimiento</label>
                <input type="text" placeholder="dia/mes/año" name="fecha_nacimiento">

		<label for="imagen">Foto de perfil</label>
 		<input name="archivo1" type="file" id="archivo1"><br/>  
		
		<input type="submit" value="Registrar">
		
		

	</div>
</body>
</html>