<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ServiLan</title>
	<link rel="stylesheet" href="css/stylehomecliente.css">
</head>
<body>
	<header class="main-header">

		<a >
			<span id="site-name">ServiLand</span> 

		</a>
	</header>


	<section id="main-content">
		<header>
			<h1>Cargar Trabajo</h1>
		</header>
			
		<div>
		<select>
			<option value="peluqueria">Peluqueria</option>
			<option value="plomeria">Plomeria</option>
			<option value="servicios domesticos">Servicios domesticos</option>
			<option value="gasista">Gasistas</option>
			<option value="jardineria">Jardineria</option>
			<option value="mecanico">Mecanico</option>
			<option value="electricidad vehicular">Electricidad vehicular</option>
			<option value="pintor">Pintor</option>
			<option value="mudanzas">Mudanzas</option>
			<option value="encomiendas">Encomiendas</option>
			<option value="instalaciones de aire acondicionado">Instalaciones de aire acondicionado</option>
			<option value="carpintero">Carpintero</option>
			<option value="peluqueria canina">Peluqueria canina</option>
			<option value="choferes">Choferes</option>
			<option value="seguridad">Seguridad</option>
			<option value="cocinero">Cocinero</option>
			<option value="manicurista">Manicurista</option>
			<option value="tecnicos celulares">Tecnicos celulares</option>
			<option value="metalurgico">Metalurgico</option>
			<option value="albañileria">Albañileria</option>
			<option value="electricista">Electricista</option>
			<option value="Plomero">Plomero</option>
			<option value="Limpieza">Limpieza</option>
			<option value="Lujan">Lujan</option>
			<option value="Rivadavia">Rivadavia</option>
		</select>

		</div>
		<div>
			<textarea name="experiencia" rows="5" cols="35">Ingrese el trabajo a realizar</textarea>
		</div>
		<div>
			<button>Cargar</button>
		</div>
		
		<h1>Trabajos Pedidos</h1>



		<table class="table table-striped">
  	
			<thead>
			<tr>
				
				<th>Nombre</th>
				<th>Trabajo</th>
				
			</tr>
			</thead>

		<tr>
			<td>< ></td>
   		 	<td><['nombre'] ?></td>
   			<td><['trabajo'] ?></td>
 		</tr>
	</table>





	</section>
		
</body>
</html>