<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ServiLan</title>
	<link rel="stylesheet" href="css/stylehomeprestador.css">
</head>
<body id="fondo">
	<header class="main-header">

		<a >
			<span class="site-name">ServiLan</span> 
			<img src="img/iconServiLan2.png">
		</a>
	</header>
	<div class="box-medio">
		<section class="nompres">
			<p class="nompres">Nombre</p>
			<input class="nompres" type="text" name="nombre" value="" disabled>
		</section>

		<section class="trabreal">
			<p class="trabreal">Trabajo Realizados</p>
			<input class="trabreal" type="text" name="trabajos realizados" value="" disabled>
		</section>

		<section class="tel">
			<p class="trabreal">Telefono</p>
			<input class="trabreal" type="text" name="telefono" value="" disabled>
		</section>

		<section class="email">
			<p class="trabreal">Mail</p>
			<input class="trabreal" type="text" name="mail" value=""disabled>
		</section>
	</div>
	
	<div class="centrado">
		<input type="submit" value="Cargar trabajos ">
		
	</div>
	</body>
