<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ServiLan</title>
	<link rel="stylesheet" href="/css/styleindex.css">
        <link href="/css/style.css" rel="stylesheet" >
        <link href="/css/style_crear_registro_cliente.css" rel="stylesheet">
        <link href="/css/style_crear_registro_prestador.css" rel="stylesheet">
        <link href="/css/style_crear_registro_prestadorss.css" rel="stylesheet" >
</head>
<body id="fondo">
	<header class="main-header">

		<a >
			<span class="site-name">ServiLand</span> 
                        <img src="img/iconServiLan2.png">
		</a>
		<ul>	
                    <li><a href="#">Registrar</a>
                         <ul class="dropdown">
                            <li><input class="menu" type="button" value="Cliente" onClick="location='/cliente/registro'"></li>
                            <li><input class="menu" type="button" value="Prestador" onClick="location='/prestador/registro'"></li>
                         </ul>
                     </li>
                </ul>
		
	
		
		<input type="button" value="Iniciar" onClick="location='/login'">


	</header>
        
	<div class="box-medio">
		<h1>¡Registrate!</h1>

		
	</div>		
</body>

        <main class="dosfondo">
		<div class="divdos">
		 	<br>

	 	<h1>¿Buscas servicios?</h1>
		<h2>Encontra prestadores evaluados y certificados</h2>	
		<h2>En ranking por los mismo clientes</h2>
		
	 </div>
	 <div>			
		<img id="ClienteFondo" src="img/empresa-de-servicios.jpg">
	</div>
	</main>


	<main class="tresfondo">
		<div class="divtres">
		 	<br>

	 	<h1>¡Presta tus servicios!</h1>
		<h2>Aumenta tus trabajos</h2>	
		<h2>Se reconocido</h2>
		
	 </div>
	 <div>			
		<img id="ClienteFondodos" src="img/como-hacer-una-propuesta-de-servicios-profesionales.jpg">
	</div>
	</main>
</html>
