<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ServiLan</title>
	<link rel="stylesheet" href="/css/styleindex.css">
        <link href="/css/style.css" rel="stylesheet" >
        <link href="/css/style_crear_registro_cliente.css" rel="stylesheet">
        <link href="/css/style_crear_registro_prestador.css" rel="stylesheet">
        <link href="/css/style_crear_registro_prestadorss.css" rel="stylesheet" >
</head>
<body>
	<header class="main-header">

		<a >
			<span class="site-name">ServiLan</span> 

		</a>
		
		
	
		<input type="button" value="Registrar cliente" onClick="location='/cliente/registro'">
		<input type="button" value="Registrar prestador" onClick="location='/prestador/registro'">
		<input type="button" value="Iniciar" onClick="location='D:/Curso%20Html/ServiLand/registro.html'">


	</header>
</body>
</html>
