<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ServiLan</title>
	<link rel="stylesheet" href="/css/styleindex.css">
        <link href="/css/style.css" rel="stylesheet" >
        <link href="/css/style_crear_registro_cliente.css" rel="stylesheet">
        <link href="/css/style_crear_registro_prestador.css" rel="stylesheet">
        <link href="/css/style_crear_registro_prestadorss.css" rel="stylesheet" >
</head>
<body id="fondo">
	<header class="main-header">

		<a >
			<span class="site-name">ServiLan</span> 
                        <img src="img/iconServiLan2.png">
		</a>
		<ul>	
                    <li><a href="#">Registrar</a>
                         <ul class="dropdown">
                            <li><input class="menu" type="button" value="Cliente" onClick="location='/cliente/registro'"></li>
                            <li><input class="menu" type="button" value="Prestador" onClick="location='/prestador/registro'"></li>
                         </ul>
                     </li>
                </ul>
		
	
		
		<input type="button" value="Iniciar" onClick="location='D:/Curso%20Html/ServiLand/registro.html'">


	</header>
        
	<div class="box-medio">
		<h1>LOS MEJORES PRESTADORES</h1>

		<h2>Prestadores en ranking y evaluados por los mismos clientes</h2>
		<h2>Certificados</h2>
	</div>	
</body>
</html>
